In [1]:
import pandas as pd

**1.2. Carga el conjunto de datos utilizando Pandas**

**1.3. Muestra las primeras 5 filas del dataset**

In [2]:
df = pd.read_csv('customer_data.csv')
df.head()

   CustomerID  Gender  Age  Income         City
0           1    Male   25   50000     New York
1           2  Female   30   60000  Los Angeles
2           3    Male   35   70000      Chicago
3           4  Female   40   80000     New York
4           5    Male   22   45000  Los Angeles

**2.1. Verifica si hay valores nulos en el dataset y elimina las filas que los contengan**

In [3]:
df.isnull().sum()

CustomerID    0
Gender        0
Age           0
Income        0
City          0
dtype: int64

**2.2. Elimina columnas que no sean relevantes para el análisis (por ejemplo, columnas de identificación)**

In [4]:
df.drop(columns=['CustomerID'], inplace=True)

**2.3. Aplica Label Encoding a la columna Gender (Género)**

In [5]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])
df['Gender']

0    1
1    0
2    1
3    0
4    1
5    0
6    1
7    0
8    1
9    0
Name: Gender, dtype: int64

**2.4. Aplica One-Hot Encoding a la columna City (Ciudad)**

In [7]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse_output=False)
city_transformado = ohe.fit_transform(df[['City']])
city_transformado

array([[0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.]])

**2.5. Aplica Min-Max Scaling a la columna Age (Edad)**

In [8]:
from sklearn.preprocessing import MinMaxScaler

mms = MinMaxScaler()
df['Age'] = mms.fit_transform(df[['Age']])
df['Age']

0    0.107143
1    0.285714
2    0.464286
3    0.642857
4    0.000000
5    0.214286
6    0.392857
7    0.821429
8    1.000000
9    0.178571
Name: Age, dtype: float64

**2.6. Aplica Standard Scaling a la columna Income (Ingresos)**

In [9]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
df['Income'] = ss.fit_transform(df[['Income']])
df['Income']

0   -1.098813
1   -0.403362
2    0.292090
3    0.987541
4   -1.446539
5   -0.751087
6   -0.055636
7    1.335267
8    1.682992
9   -0.542452
Name: Income, dtype: float64

**3. Calcula la Distancia Manhattan, Distancia Euclidiana y Distancia Minkowski (con p=3p=3) entre los siguientes dos puntos:**

**Punto A: [25, 50000] (Edad, Ingresos)**

**Punto B: [30, 60000] (Edad, Ingresos)**

In [10]:
from scipy.spatial.distance import cityblock, euclidean, minkowski

punto_a = [25, 50000]
punto_b = [30, 60000]

distancia_manhattan = cityblock(punto_a, punto_b)
print(f"Distancia Manhattan: {distancia_manhattan}")

distancia_euclidiana = euclidean(punto_a, punto_b)
print(f"Distancia Euclidiana: {distancia_euclidiana}")

distancia_minkowski_p3 = minkowski(punto_a, punto_b, p=3)
print(f"Distancia Minkowski (p=3): {distancia_minkowski_p3}")

Distancia Manhattan: 10005
Distancia Euclidiana: 10000.001249999921
Distancia Minkowski (p=3): 10000.000000416661